#nav1
{
	line-height: 30px;
	height: 380px;
	width: 200px;
	float: left;
	padding: 5px;
}

section
{
	width: 400px;
	float: left;
	padding: 10px;
}

footer
{
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}

body
{
	background-color: #EEEEEE;
	margin: 0 auto;
}